PORT=
JWT_SECRET=

// api facebook production
FB_CLIENT_ID=
FB_CLIENT_SECRET=

// api facebook test
FB_CLIENT_ID_TEST=
FB_CLIENT_SECRET_TEST=

// facebook test user for the e2e tests
FB_EMAIL_USER=
FB_ID_USER=
FB_NAME_USER=
FB_TOKEN_USER=
